<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Menu Principal
  </h1>
</div>
<ul>
  <li>
    <!-- a -> anchor -> ancla -->
    <a routerLink="/login">Login</a>
  </li>
  <li>
    <!-- a -> anchor -> ancla -->
    <a routerLink="/registro">Registro</a>
  </li>
  <li>
    <a routerLink="/eventos-publicos">Eventos</a>
  </li>
    <li *ngIf="_authService.esAdministrador()">
      <a routerLink="/usuario/gestion-usuarios"> Gestion Usuarios </a>
    </li>

    <li *ngIf="_authService.esUsuario()">
      <a routerLink="/gestion-conductores"> Gestion Conductores </a>
      <ul>
        <li *ngIf="_authService.esUsuario()">
          <a routerLink="/gestion-autos"> Gestion Autos </a>
        </li>
      </ul>
    </li>
    <li *ngIf="_authService.esUsuario()">
      <a routerLink="/evento/gestion-eventos"> Gestion Eventos </a>
    </li>

</ul>

<router-outlet></router-outlet>
